.dropdowns{
  width:200px;
  border-width: 2px;
  border-radius: 1%;
  margin-right: 2%;
  color: black;
  border : 1px solid #666666;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items: center;
  gap: 20px;
  padding: auto;
  margin: 10px auto;
  top:40px;
  margin-left:40px;
}
.jobList{
  margin-top:50px;
}

/*Queda agregar las vistas responsive*/
