<app-navbar-landing></app-navbar-landing>


<main>
<table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Posición</th>
        <th>Desafíos completados</th>
        <th>Proyectos finalizados</th>
        <th>Commits realizados</th>
        <th>Contacto</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let ranking of rankings">

          <td>{{ranking.username}}</td>
          <td>{{ranking.position}}</td>
          <td>{{ranking.desafiosCompletados}}</td>
          <td>{{ranking.proyectosFinalizados}}</td>
          <td>{{ranking.commitsRealizados}}</td>
          <td><i class="fa-brands fa-linkedin icon" ></i> <i class="fab fa-discord icon"></i> <i class="fa-brands fa-github icon"></i></td>

        </tr>


    </tbody>
  </table>
</main>
<app-footer></app-footer>
