/* @import url('../../jobs-card/jobs-card.component.css'); */
.jobCard {
  width: 295px;
  border-radius: 15px;
  }

  .title-job {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #212121;

  }
.leermas{
  color:white;
}
  .subtitle-job {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    color: #3d3d3d;
  }
  .content-job {
    padding: 0px;

  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: auto;
    width: 1500px;
    margin: 10px auto;
    margin-top:40px;
  }

