<div class="jobCard" >
  <div class="img-container">
      <img src="../../assets/imgs/img-company.png" class="img-company">
    </div>
    <div class="text-container">
      <h2 class="title-job">{{ cardInfo.title }}</h2>
      <h3 class="subtitle-job">{{ cardInfo.position.position }}</h3>
      <div class="description-container ">
        <p class="description-job">{{cardInfo.description}}</p>
      </div>
      <button routerLink="/job-details" class="read-more"><a >Leer Más</a></button>
    </div>
  </div>