<mat-card class="jobCard" >

    <mat-card-header >
      <mat-card-title class="title-job">{{cardInfo.title}}
      </mat-card-title>
      <mat-card-subtitle class="subtitle-job">{{cardInfo.position.position}}</mat-card-subtitle>
      <img mat-card-avatar src="../../assets/imgs/img-company.png" class="img-company">
    </mat-card-header>

    <mat-card-content class="content-job">
        <mat-card-subtitle class="description-job">
          <p style="text-align: justify;">{{cardInfo.description}}</p>
        </mat-card-subtitle>
        <div *ngIf="showFull">
        <app-job-full-info ></app-job-full-info>
      </div>
    </mat-card-content>
    <mat-card-footer class="p-3 d-flex justify-content-end">
      
      <div class="apply">
        <button 
        type="button"
        class="btn btn-primary btn-sm" 
        data-bs-toggle="modal"
        data-bs-target="#application-form"
        (click)="showDetails()" 
        *ngIf="showFull">Aplicar</button>
        <app-application-form></app-application-form>
      </div>

      <button class="btn btn-primary btn-sm" (click)="showLess()" *ngIf="showLessBool">Mostrar menos</button>
      <button class="btn btn-primary btn-sm" (click)="showDetails()" *ngIf="!showFull">Leer más</button>
      
    </mat-card-footer>

  </mat-card>