@import url('../../jobs-card/jobs-card.component.css');
.jobCard {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    background: #ffffff;
    box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    top:0px;
  }

  .title-job {
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 44px;
    /* or 138% */
    letter-spacing: -0.02em;
    color: #212121;
    margin-top: 23px;
  }
  
  .subtitle-job {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    color: #3d3d3d;
  }
  .content-job {
    padding: 0px;
 
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: auto;
    width: 1500px;
    margin: 10px auto;
    margin-top:40px;
  }

