.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f3f3f3;
  border-radius: 15px;
}

.img-profile {
  width: 120px;
  padding: 5px;
}

.user-fullname {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #4472c3;
}

.user-title {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 10px;
    color: #3d3d3d;
    text-align: center;
}

.user-location {
    font-style: normal;
    font-weight: 300;
    display: flex;
    color: #4e4e4e;
    align-items: center;
}
.company-counters {
  display: flex;
  flex-direction: column;
}

.icons-counter {
  display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    margin: 0;
}

.icons-counter > li {
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.icon-counter {

    color: #4472c3;
    font-size: 25px;
}

.detail-counters {
  display: flex;
  list-style: none;
  color: #3d3d3d;
  font-size: 18px;
}

.detail {
  padding: 0 40px;
  text-align: center;
}
.user-social {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.user-social i {
  font-size: 30px;
  padding: 5px;
  color: #3d3d3d;
}

.buttons-cu {
  align-self: end;
  margin: 10px;
}
.btn-add {
  color: #30c961;
  font-size: 34px;
  background: none;
  border: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* padding: auto; */
  width: 95%;
  /* width: 100%; */
  margin: 20px auto;
  box-sizing: border-box;
}


/*----------- Medias Queries ------------------*/
/* @media screen and (min-width: 481px) and (max-width: 780px) {
  .user-details {
    width: 85%;
    height: 560px;
  }

  .icon-counter {
    padding: 0 45px;
    margin-top: 20px;
    font-size: 38px;
  }

  .detail-counters {
    font-size: 14px;
  }
  .detail {
    padding: 0 19px;
    text-align: center;
  }
  .buttons-cu {
    width: 700px;
  }

}

@media screen and (max-width: 480px) {
  .user-details {
    width:90%;
    height: 468px;
  }

  .img-profile {
    width: 138px;
  }

  .user-fullname {
    height: 30px;

    font-size: 24px;
  }

  .user-title {
    height: 23px;
    font-size: 18px;
    line-height: 20px;
  }

  .user-location {
    height: 20px;
    font-size: 18px;
    line-height: 20px;
  }

  .icon-counter {
    padding: 0 28px;
    margin-top: 20px;
    font-size: 18px;
  }

  .detail-counters {
    font-size: 7px;
  }
  .detail {
    padding: 0 16px;
    text-align: center;
  }

  .user-social i {
    font-size: 30px;
  }

  .user-social {
    margin-top: 24px;
  }

  .buttons-cu {
    width: 90%;
  }
  .cards{
    width: 100%;
  }
} */
