<div class="modal fade" id="job-form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-6 m-0" id="exampleModalLabel">Nuevo empleo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <form>


        <div class="mb-3">
          <label for="puesto_solicitado" class="form-label">Puesto Solicitado</label>
          <input type="title" name="title" class="form-control form-control-sm" required placeholder="Breve descripción del puesto" [(ngModel)]="title" #ctrl="ngModel" required [ngModelOptions]="{standalone: true}">
        </div>

        <div class="mb-3">
          <label for="job-position" class="form-label">Posición</label>
          <select id="job-position" class="form-select form-select-sm" aria-label="Default select example">
            <option selected>Seleccionar</option>
            <option *ngFor="let position of posiciones;" [value]="position.value">{{position.value}}</option>
          </select>
        </div>


        <div class="mb-3">
          <label class="form-label" for="job-description">Descripción</label>
          <input type="description" name="description" class="form-control form-control-sm" required placeholder="Breve descripción del puesto" [(ngModel)]="description" #ctrl="ngModel" required [ngModelOptions]="{standalone: true}">
        </div>


        <div class="mb-3">
          <label for="job-modality" class="form-label">Modalidad de Trabajo</label>
          <select id="job-modality" class="form-select form-select-sm" aria-label="Default select example">
            <option selected>Seleccionar</option>
            <option *ngFor="let modality of modalities;" [value]="modality.value">{{modality.value}}</option>
          </select>
        </div>


        <div class="mb-3">
          <label for="job-salary" class="form-label">Salario</label>
          <select id="job-salary" class="form-select form-select-sm" aria-label="Default select example">
            <option selected>Seleccionar</option>
            <option *ngFor="let currency of currencies;" [value]="currency.value">{{currency.value}}</option>
          </select>
        </div>


        <div class="mb-3">
          <input type="checkbox" class="form-check-input mx-1" id="job_reubication" aria-describedby="job_reubication">
          <label for="job_reubication" class="form-check-label">¿Reubicación?</label>
        </div>
      </form>
      </div>


      <div class="modal-footer">
        <button data-bs-dismiss="modal" type="submit" (click)="submitInfo()" class="btn btn-primary rounded-pill">Enviar</button>
      </div>
    </div>
  </div>
</div>
