main {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  box-sizing: border-box;
}

.card {
  box-sizing: inherit;
  width: 100%;
  max-width: 600px;
  background: #ffffff;
  box-shadow: var(--card-shadow);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-block: 20px;
}
.header-secondary {
  margin: 0 0;
  text-align: center;
  color: var(--blue-light);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #212121;
}
#main-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  margin: var(--margin-center-horizontal);
}
#title {
  text-align: center;
  padding: 40px;
  margin: var(--margin-center-horizontal);
  margin-bottom: 20px;
}
#title h1 {
  color: var(--blue);
  font-size: 40px;
  font-weight: bold;
}
#authors-list,
#technologies ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 15px;
  margin: 0 0;
  margin-top: 10px;
  padding: 0;
  font-weight: bold;
  color: var(--blue);
}
#authors-list {
  margin-inline: 5%;
  width: 90%;
}
#text {
  margin: var(--margin-center-horizontal);
  text-align: justify;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  padding: 10px;
  letter-spacing: -0.02em;
  width: 90%;
  color: #686868;
}
#technologies {
  width: 90%;
  margin: var(--margin-center-horizontal);
}
#technologies ul li {
  text-transform: uppercase;
}


#carrusel {
  aspect-ratio: 19 / 9;
  max-width: 90%;
  margin: var(--margin-center-horizontal);
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  border-radius: 16px;
  margin-top: 18px;
}

/* opera */
#carrusel::-webkit-scrollbar {
  display: none;
}
#carrusel #image-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-snap-align: center;
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
}

#repo-link {
  padding: 10px;
  align-items: center;
  height: 60px;
}

#repo-link a {
  width: 40%;
  height: 100%;
  border: 1px solid var(--blue);
  text-decoration: none;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin: var(--margin-center-horizontal);
  color: var(--blue);
}
#repo-link a span {
  font-weight: bold;
}
#repo-link a:active {
  border-color: var(--blue-light);
  color: var(--blue-light);
}
.main{
  margin-bottom:10px;
}
