<footer class="app-footer">
  <div class="footer-logo-container">
    <img class="footer-logo" src="../../../assets/imgs/Sobrec_logo.png" alt="sobrecodigo logo" />
    <!-- <div class="footer-copyright">
      <span>Copyright © 2023</span>
    </div> -->
  </div>
  <div id="info-container">
    <div class="footer-social">
      <div class="footer-title">Redes Sociales</div>
      <ul class="footer-link-container">
        <li>
          <a class="footer-link" target="_blank" href="https://www.instagram.com/sobrecodigo/">
            <i class="fa-brands fa-square-instagram"></i>
            <span>Instagram</span>
          </a>
        </li>
        <li>
          <a class="footer-link" target="_blank" href="https://www.twitch.tv/sobrecodigo">
            <i class="fa-brands fa-twitch"></i>
            <span>Twitch</span>
          </a>
        </li>
        <li>
          <a class="footer-link" target="_blank" href="https://discord.gg/hQjRQeSJns">
            <i class="fa-brands fa-discord"></i>
            <span>Discord</span>
          </a>
        </li>
        <li>
          <a class="footer-link" target="_blank" href="https://www.linkedin.com/company/sobrecodigo/">
            <i class="fa-brands fa-linkedin"></i>
            <span>Linkedin</span>
          </a>
        </li>
        <li>
          <a class="footer-link" target="_blank" href="https://twitter.com/sobre_codigo">
            <i class="fa-brands fa-twitter"></i>
            <span>Twitter</span>
          </a>
        </li>
        <li>
          <a class="footer-link" target="_blank" href="https://www.tiktok.com/@sobrecodigo">
            <i class="fa-brands fa-tiktok"></i>
            <span>Tiktok</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-legal">
      <div class="footer-title">Legal</div>
      <div id="links-container">
        <a href="/home" class="footer-link">Términos y Condiciones</a>
        <a (click)="openDialog();" class="footer-link">Políticas de Cookies</a>
        <a href="/home" class="footer-link">Configuración de Cookies</a>
      </div>

    </div>
    <div class="footer-contact">
      <div class="footer-title">Contacto</div>
      <a class="footer-link" href="mailto: sobrecodigo@gmail.com">
        <i class="fa-solid fa-envelope"></i>
        <span>sobrecodigo@gmail.com</span>
      </a>
    </div>
  </div>
</footer>