<div class="cards-list">
  
    <div class="card 1">
      <div class="card_image"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRr0YlatAy-hrNCQjzZ7fqDzNiXt7HGmzVaA&usqp=CAU" /> </div>
      <div class="card_title title-white">
        <p>@GaezOrt</p>
      </div>
    </div>
    
      <div class="card 2">
      <div class="card_image">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRr0YlatAy-hrNCQjzZ7fqDzNiXt7HGmzVaA&usqp=CAU" />
        </div>
      <div class="card_title title-white">
        <p>@Rick</p>
      </div>
    
    </div>
    
  
    <div class="card 3">
      <div class="card_image">
  
        <img src="https://cdn-icons-png.flaticon.com/512/201/201634.png" />
      </div>
      <div class="card_title title-white">
        <p>@JulietaS</p>
      </div>
     
    </div>
      
    <div class="card 4">
        <div class="card_image">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRr0YlatAy-hrNCQjzZ7fqDzNiXt7HGmzVaA&usqp=CAU" />
          </div>
        <div class="card_title title-white">
          <p>@Local</p>
        </div>
      
      </div>
      
    
  
  