.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.user-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #f3f3f3;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.img-profile {
  width: 100px;
  padding: 10px;
}

.user-fullname {
  font-family: "Inter";
  font-style: normal;
  font-size: 24px;
  line-height: 39px;
  margin: 3px;
  color: #4472c3;
}

.user-title {


  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;

  color: #3d3d3d;
}

.user-location {
  display: flex;
  justify-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;
  color: #4e4e4e;
}
.user-counters{
  padding: 5px;
}

.icons-counter{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 5px;
}

.icon-counter {
  padding: 5px;
  align-items: center;
  color: #4472c3;
  font-size: 30px;
}

.icons-counter li{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.user-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 70%;
  padding: 8px;
}

.user-social i {
  font-size: 20px;
  color: #3d3d3d;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

/* @media screen and (min-width: 481px) and (max-width: 780px){
  .user-details {
     border-radius: 0;
  }

  .icon-counter {
    padding: 0 45px;
    margin-top: 20px;
    font-size: 38px;
  }

  .detail-counters{
    font-size: 14px;
  }
  .detail {
    padding: 0 19px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .user-details {
    border-radius: 0;
 }

  .img-profile {
    width: 138px;
  }

  .user-fullname {
    height: 30px;

    font-size: 24px;
  }

  .user-title {
    height: 23px;
    font-size: 18px;
    line-height: 20px;
  }

  .user-location {
    height: 20px;
    font-size: 18px;
    line-height: 20px;
    }

    .icon-counter {
      padding: 0 28px;
      margin-top: 20px;
      font-size: 18px;
    }

    .detail-counters{
      font-size: 7px;
    }
    .detail {
      padding: 0 16px;
      text-align: center;
    }

    .user-social i {
      font-size: 30px;
        }

        .user-social {
          margin-top: 24px;
        }
} */
