<app-navbar-landing></app-navbar-landing>


<div class="container-fluid mt-4">
  <div class="row justify-content-center">

    <div class="col-12 row justify-content-center mb-4">
      <div class="user-details col-12 col-sm-8 col-md-6 col-lg-4">
        <img
          src="{{usuarioDto.image}}"
          alt="Foto Perfil"
          class="img-profile"
        />
        <h2 class="user-fullname">@{{usuarioDto.username}}</h2>
        <div class="d-flex">
          <h3 class="user-title mx-2">Full Stack Developer</h3>
          <p class="user-location"><mat-icon>location_on</mat-icon> Argentina</p>
        </div>

        <div class="d-flex">
          <div class="p-2" *ngFor= "let tecnologias of usuarioDto.tecnologias">

            <div class="techs">
              <img
          src="{{tecnologias.technology.icon}}"
          alt="Foto Perfil"
          class="img-profile"
        />
            <p class="technologies"> {{tecnologias.technology.technology}}</p>
          </div>
            </div>

        </div>

        <div class="user-counters">
          <ul class="icons-counter">
            <li>
              <i class="icon-counter fa-regular fa-thumbs-up"></i>
              <p>
                23 Contribuciones
              </p>
            </li>
            <li>
              <i class="icon-counter fa-solid fa-code"></i>
              <p>
                23 Contribuciones
              </p>
            </li>
            <li>
              <i class="icon-counter fa-solid fa-certificate"></i>
              <p>
                23 Contribuciones
              </p>
            </li>
            <li>
              <i class="icon-counter fa-solid fa-puzzle-piece"></i>
              <p>
                23 Contribuciones
              </p>
            </li>
          </ul>
        </div>
        <div class="user-social">
          <a href="{{linkedIn}}" target="__blank"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://github.com"><i class="fa-brands fa-github"></i></a>
          <a href="mailto:sobrecodigo@gmail.com"><i class="fa-solid fa-envelope"></i></a>
          <a href="https://eloquentjavascript.net/Eloquent_JavaScript_small.pdf" download="CV-user.pdf" target="_blank"><i class="fa-solid fa-clipboard-user"></i></a>
          <!--<a href="https://eloquentjavascript.net/Eloquent_JavaScript_small.pdf" download="CV-user.pdf" target="_blank"><i class="fa-solid fa-id-card"></i></a>
          <a href="https://eloquentjavascript.net/Eloquent_JavaScript_small.pdf" download="CV-user.pdf" target="_blank"><i class="fa-solid fa-id-badge"></i></a>
          -->

        </div>
      </div>
    </div>

    <div class="col-12 row justify-content-center p-3">
      <div class="col-12 col-lg-4 g-2" *ngFor="let project of projects">
        <app-project-card [cardInfo]="project"></app-project-card>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>
