<app-navbar-landing></app-navbar-landing>

<body>

  <div class="form-container">

    <h1 id="header">Registro</h1>
    <form action="" method="post">

      <label>Usuario</label>
      <input type="text" name="name" required  [(ngModel)]="username" #ctrl="ngModel" required [ngModelOptions]="{standalone: true}">
      <label>Email</label>
      <input type="email" name="email" required [(ngModel)]="email" #ctrl="ngModel" required [ngModelOptions]="{standalone: true}">
      <label>Rubro</label>
      <input type="rubro" name="rubro" required minlength="8" [(ngModel)]="rubro" #ctrl="ngModel" required [ngModelOptions]="{standalone: true}">
      
      <label>Contraseña</label>
      <input type="password" name="password" required minlength="8" [(ngModel)]="password" #ctrl="ngModel" required [ngModelOptions]="{standalone: true}">
     
      
      <label>Confirmar Contraseña</label>
      <input type="password" name="confirm-password" required minlength="8"[(ngModel)]="confirmPassword" #ctrl="ngModel" required [ngModelOptions]="{standalone: true}">
      <input type="submit" (click)="submitRegister()" value="Registrarme">

    </form>
    
  </div>

</body>