<body>

  <div class="form-container">

    <h1 id="header">Registro</h1>
    <form action="" method="post">

      <label>Usuario</label>
      <input type="text" name="name" required [(ngModel)]="username" #ctrl="ngModel" required
        [ngModelOptions]="{standalone: true}">
      <label>Email</label>
      <input type="email" name="email" required [(ngModel)]="email" #ctrl="ngModel" required
        [ngModelOptions]="{standalone: true}">
      <label>LinkedIn link</label>
      <input type="linkedIn" name="linkedIn" required minlength="8" [(ngModel)]="linkedIn" #ctrl="ngModel" required
        [ngModelOptions]="{standalone: true}">
      <label>GitHub link</label>
      <input type="github" name="github" required minlength="8" [(ngModel)]="github" #ctrl="ngModel" required
        [ngModelOptions]="{standalone: true}">


      <label>Tecnologías</label>
      <div class="answers">

        <div class="form-check">
          <input id="angular" type="checkbox" (change)="toggleAngular($event)" />
          <label class="form-check-label" for="angular">
            Angular
          </label>
        </div>
        <div class="form-check">
          <input id="reactnative" type="checkbox" ng-model="myCheckboxModel" (change)="toggleReactNative($event)" />
          <label class="form-check-label" for="reactnative">
            React Native
          </label>
        </div>
        <div class="form-check">
          <input id="react" type="checkbox" ng-model="myCheckboxModel" (change)="toggleReact($event)" />
          <label class="form-check-label" for="react">
            React
          </label>
        </div>
        <div class="form-check">
          <input id="vue" type="checkbox" ng-model="myCheckboxModel" (change)="toggleVue($event)" />
          <label class="form-check-label" for="vue">
            Vue
          </label>
        </div>
        <div class="form-check">
          <input id="springboot" type="checkbox" ng-model="myCheckboxModel" (change)="toggleSpringBoot($event)" />
          <label class="form-check-label" for="springboot">
            Spring Boot
          </label>
        </div>
        <div class="form-check">
          <input id="nodeJS" type="checkbox" ng-model="myCheckboxModel" (change)="toggleNodeJs($event)" />
          <label class="form-check-label" for="nodeJS">
            Node JS
          </label>
        </div>
        <div class="form-check">
          <input id="next" type="checkbox" ng-model="myCheckboxModel" (change)="toggleNext($event)" />
          <label class="form-check-label" for="next">
            Next
          </label>
        </div>

      </div>


      <label>Contraseña</label>
      <input type="password" name="password" required minlength="8" [(ngModel)]="password" #ctrl="ngModel" required
        [ngModelOptions]="{standalone: true}">


      <label>Confirmar Contraseña</label>
      <input type="password" name="confirm-password" required minlength="8" [(ngModel)]="confirmPassword"
        #ctrl="ngModel" required [ngModelOptions]="{standalone: true}">
      <input type="submit" (click)="submitRegister()" value="Registrarme">

    </form>

  </div>

</body>