.container{ 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;

}

.btn {
  align-self: end;
 
}

.btn-close-icon {
  border: none;
  background: none;
  color: #f00d0d;
  font-size: 1rem;
  cursor: pointer;
}

h3 {
  text-align: center;
  background-color: #1fc0e9;
  
}

.formElement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}