<h3>Alta de Oferta Laboral</h3>

<form action="">
    <mat-form-field class="formElement">
        <input matInput placeholder="Puesto solicitado" formControlName="puesto">
    </mat-form-field>

    <mat-form-field class="formElement">
        <input matInput placeholder="Trainee Jr Ssr Sr" formControlName="posicion">
    </mat-form-field>

    <mat-form-field class="formElement">
        <input matInput placeholder="Descripción" formControlName="descripcion">
    </mat-form-field>

    <mat-form-field class="formElement">
        <input matInput placeholder="Tamaño Empresa" formControlName="tamanoEmpresa">
    </mat-form-field>

    <mat-form-field class="formElement">
        <input matInput placeholder="Modalidad de Trabajo" formControlName="modalidad">
    </mat-form-field>

    <mat-form-field class="formElement">
        <input matInput placeholder="Salario (opcional)" formControlName="salario">
    </mat-form-field>

    <mat-form-field class="formElement">
        <input matInput placeholder="Ofrece Reubicacion (opcional)" formControlName="reubicacion">
    </mat-form-field>

    <mat-form-field class="formElement">
        <input matInput placeholder="Requisitos" formControlName="requisitos">
    </mat-form-field>
</form>