*{
  box-sizing: border-box;
}
.cards-list {
  width: 100%;
  display: grid;
  grid-template-columns:50% 50% ;
  place-items: center;
row-gap: 1.5em;
column-gap: 1%;
  margin-bottom: 10px;
}

.card{
  width: 100%;
  height: 100%;
  max-width: 220px;
}

@media (min-width:760px) {
.cards-list{
  grid-template-columns: 1fr 1fr 1fr;
} 
.card{
  max-width: 256px;
}
}
@media (min-width:1024px) {
  .card{
    max-width: 320px;
  }
  }
