
nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* height: 70px; */
  background-color: #e8e8e8;
  box-sizing: border-box;
  padding: 10px;
  /* margin-inline: 28px;
  margin-block: 14px;
  border-radius: 5px; */
}

.logo img {
  height: 70px;
  width: 80px;
  border-radius: 10px;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 1.2em;
}

.list{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5em;
  padding-right: 1.5em;
}

/* list items */
a {
  text-decoration: none;
  font-weight: 600;
  color:#595959;
}

a:hover{
  color:#595959d2 ;
}

a:focus, a:hover:focus{
  color: #7067b7;
  font-weight: 700;
}

#login {
  background-color: #5c55c5;
  border-radius: 7px;
  padding: 3px 13px;
  cursor: pointer;
}

#login:hover {
  background-color:#5c55c5e1;
}

#login a {
  color: white;
  font-weight: 400;
}


/*  */

.selected{
  color: rgb(24, 111, 211);
  font-weight: 600;
}

hr {
  display: none;
}

label {
  display: none;
  padding-right: 1em;
  cursor: pointer
}

#theme-button{
  height: 30px;
  margin: auto 0;
  aspect-ratio: 1/1;
  display: none;
}


@media screen and (max-width: 700px) {
  label {
    display: inline-block;
  }

  .list {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
    background-color: white;
    z-index: 10;
    padding: 1em;
    gap: 0;
  }
  .list li {
    padding: 0.5em;
  }

  #login {
    margin-top: 5px;
  }
  hr{
    display: block;
    width: 85%;
    color: gray;
    border-width: 0px;
    border-bottom-width: 0.1px;

  }

  #checkbox:checked + .list{
    display: flex;
    }

}