nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.logo img {
  height: 70px;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 1.5em;
}

.list{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5em;
  padding-right: 1.5em;
}

/* list items */
a {
  text-decoration: none;
  font-weight: 500;
  color: rgb(158, 158, 158);
}

a:hover:not(.selected) {
  color: rgb(107, 107, 107);
}

#login {
  background-color: rgb(24, 111, 211);
  border-radius: 30px;
  padding: 5px 10px;
  cursor: pointer;
}
#login:hover {
  background-color: rgba(24, 111, 211, 0.9);
}

#login a {
  color: white;
  font-weight: 400;
}


/*  */

.selected{
  color: rgb(24, 111, 211);
  font-weight: 600;
}

hr {
  display: none;
}

label {
  display: none;
  padding-right: 1em;
  cursor: pointer
}


@media screen and (max-width: 700px) {
  label {
    display: inline-block;
  }

  .list {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
    background-color: white;
    z-index: 10;
    padding: 1em;
    gap: 0;
  }
  .list li {
    padding: 0.5em;
  }

  #login {
    margin-top: 5px;
  }
  hr{
    display: block;
    width: 85%;
    color: gray;
    border-width: 0px;
    border-bottom-width: 0.1px;

  }

  #checkbox:checked + .list{
    display: flex;
    }

}






