<nav>
  <div class="logo">
    <img src="../../assets/imgs/sc2.png" alt="" routerLink="/home">
  </div>

  <label for="checkbox">
    <mat-icon id="menu">menu</mat-icon>
  </label>
  <input type="checkbox" id="checkbox" hidden>


  <div class="list">
    <li><a routerLink="/home" [ngClass]="{'selected' : route === '/home'}">Inicio</a></li>
    <hr>
    <li><a routerLink="/project-page" [ngClass]="{'selected' : route === '/project-page'}">Proyectos</a></li>
    <hr>
    <li><a routerLink="/ranking-users" [ngClass]="{'selected' : route === '/ranking-users'}">Ranking usuarios</a></li>
    <hr>
    <li><a routerLink="/challenges" [ngClass]="{'selected' : route === '/challenges'}">Desafíos</a></li>
    <hr>
    <li><a routerLink="/profile-page" [ngClass]="{'selected' : route === '/profile-page'}">Mi Perfil</a></li>
    <hr>
    <li><a routerLink="/company-profile" [ngClass]="{'selected' : route === '/company-profile'}">Perfil Empresas</a></li>
    <hr>
    <li><a routerLink="/jobs" [ngClass]="{'selected' : route === '/jobs'}">Empleos</a></li>
    <hr>
    <li><img src="../../../assets/imgs/moon-1.svg" alt="dark-mode" style=" height: 30px; margin: auto 0; aspect-ratio: 1/1;"></li>
    <li>
      <button id="login" mat-button [matMenuTriggerFor]="menu"><a>Registrarse</a></button>
        <mat-menu #menu="matMenu">
          <a routerLink="/sign-up" mat-menu-item>Usuarios</a>
          <a routerLink="/sign-up-company" mat-menu-item>Empresas</a>
        </mat-menu>
    </li>
    <li routerLink="/sign-in" id="login"><a mat-button>Entrar</a></li>
  </div>

</nav>
