::ng-deep .dialog-style .mat-dialog-container{ 
  padding: 0; 
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.9);
}

::ng-deep .cdk-overlay-container .cdk-overlay-dark-backdrop {
  background-color: rgba(36, 36, 36, 0.9) !important;
  backdrop-filter: blur(4px) !important;
}

nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #e8e8e8;
  box-sizing: border-box;
  padding: 8px;
  /* margin-inline: 28px;
  margin-block: 14px;
  border-radius: 5px; */
}

.logo img {
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.logo {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1.2em;
  background-color: white;
  border-radius: 10px;
  padding: 1px;
}

.list{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5em;
  padding-right: 1.5em;
}

/* list items */
a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color:#595959;
}

a:hover{
  color:#5c53cf;
  transition: all 400ms;
}

#login {
  background-color:#5c53cf;
  border-radius: 7px;
  padding: 3px 13px;
  cursor: pointer;
  transition: all 400ms;
}

#login:hover {
  background-color:#5b53cfbb;
}

#login a {
  color: white;
  font-weight: 500;
}


/*  */

.selected{
  color: #5c53cf;
  font-weight: 600;
}
.active-btn{
  pointer-events: none;
  color: #5c53cf;
}

hr {
  display: none;
}

label {
  display: none;
  padding-right: 1em;
  cursor: pointer
}

#theme-button{
  height: 30px;
  margin: auto 0;
  aspect-ratio: 1/1;
  display: none;
}


@media screen and (max-width: 930px) {
  label {
    display: inline-block;
  }

  .list {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
    background-color: white;
    z-index: 10;
    padding: 1em;
    gap: 0;
  }
  .list li {
    padding: 0.5em;
  }

  #login {
    margin-top: 5px;
  }
  hr{
    display: block;
    width: 85%;
    color: gray;
    border-width: 0px;
    border-bottom-width: 0.1px;

  }

  #checkbox:checked + .list{
    display: flex;
    }

}