
<nav>
  <div class="logo" routerLink="/home">
    <img src="../../assets/imgs/Sobrec_logo.png" alt="">
  </div>

  <label for="checkbox">
    <mat-icon id="menu">menu</mat-icon>
  </label>
  <input type="checkbox" id="checkbox" hidden>


  <div class="list">

    <li><a routerLink="/home" routerLinkActive="selected">Inicio</a></li>
    <hr>
    <li><a routerLink="/project-page" routerLinkActive="selected">Proyectos</a></li>
    <hr>
    <li><a routerLink="/ranking-users" routerLinkActive="selected">Ranking usuarios</a></li>
    <hr>
    <li><a routerLink="/challenges" routerLinkActive="selected">Desafíos</a></li>
    <hr>
    <hr>
    <li><a routerLink="/company-profile" routerLinkActive="selected">Perfil Empresas</a></li>
    <hr>
    <li><a routerLink="/jobs-page" routerLinkActive="selected">Empleos</a></li>
    <hr>
    <!-- <li><img src="../../../assets/imgs/moon-1.svg" alt="dark-mode" id="theme-button"></li> -->
    <li *ngIf="!isLoggedIn">
      <button id="login" mat-button [matMenuTriggerFor]="menu"><a>Registrarse</a></button>
        <mat-menu #menu="matMenu">
          <a routerLink="/sign-up" routerLinkActive="active-btn" mat-menu-item>Usuarios</a>
          <a routerLink="/sign-up-company" routerLinkActive="active-btn" mat-menu-item>Empresas</a>
        </mat-menu>
    </li>
    <li *ngIf="!isLoggedIn"><button id="login"  routerLink="sign-in" mat-button><a>Ingresar</a></button></li>
    <li *ngIf="isLoggedIn">
      <button id="userLogged" mat-mini-fab color="primary" [matMenuTriggerFor]="menu"><i class="fa-solid fa-user"></i></button>
        <mat-menu class="mt-1" #menu="matMenu">
          <div mat-menu-item class="d-flex flex-column align-content-center">
            <p class="m-0 text-center">¡Hola, {{userName}}!</p>
          </div>
          <div mat-menu-item class="d-flex flex-column align-content-center">
            <a routerLink="/profile-page/{{userId}}" class="text-center" [ngClass]="{'selected' : route === '/profile-page'}">Mi Perfil</a>
          </div>
          <div mat-menu-item class="d-flex flex-column align-content-center">
            <a class="text-center" [ngClass]="{'selected' : route === '/profile-page'}">Editar Perfil</a>
          </div>
          <div class="d-flex justify-content-center m-1">
            <!-- Logout button -->
            <button (click)="userLogout()" class="btn btn-danger btn-sm">Salir</button>
          </div>
        </mat-menu>
    </li>
  </div>

</nav>