.card {
  width: 18em;
  aspect-ratio: 1/1.2;
  padding: 1.2em;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.25);
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  transition: 0.4s;

}
.card:hover {
  transform: scale(0.98);
}
.code{
  border-radius: 50%;
  width:50px;
  background-color: red;
}
.img-container {
  width: 40%;
  margin: var(--margin-center-horizontal);
  background-color: #f0f0f0;
  aspect-ratio: 1/1;
  border-radius: 100%;
  border:3px solid #1a98cf;
  cursor:pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img-container img {
  width: 100%;
  overflow: hidden;
  border-radius: 100%;
  padding: 1px;
  aspect-ratio: 1/1
}

#cup {
  position: absolute;
  bottom: -3px;
  right: 6px;
  font-size: 35px;
}

.card p {
  margin: 0;
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  align-self: center;
  color: var(--blue);
}
.card h4{
  margin: 0;
  font-weight: 400;
  font-size: 15px;
}

#name-container{
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;

}
#name-container p:not(#user-name){
  color: grey;
}
#user-name{
  font-size: 16px;
  font-weight: 600;
  cursor:pointer;
  /* color: var(--blue); */
}

#user-name::before{
  content: "@";
}

#stats-container{
  width: 100%;
  padding: 5%;
}
.stats{
  display: flex;
  justify-content: space-between;
}
.contact{
  width: inherit;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.icon{
  color: var(--blue-light);
  font-size:1.5rem
}
#user-name:hover, .icon:hover, .img-container:hover{
  border-color: rgb(158, 158, 158);
  color: rgb(158, 158, 158) ;
  transition: 100ms ;
}