*{
  box-sizing: border-box;
  transition: 0.4s;
}
/* Important** - Current Styles made to Mobile resolutions first, to table/desktop resolution styles go to media queries*/

/* main card behavior, box and content styles */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 288px;
  max-width: 185px;
  background-color: white;
  border-radius: 16px;
  border: solid 2px rgba(0, 0, 0, 0.3);
  box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.25);
  gap: 5px;
  transition: 0.4s;
  margin: 0 auto;
  padding-top: 34.5px;
  padding-bottom: 25.3px;
  padding-inline: 12px;
}

.card::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  content: "";
  border-radius: 14px;
  background-color:rgba(109, 101, 240, 1);
  clip-path: ellipse(95% 50% at 50% 100%);
}
.card:hover {
  transform: scale(0.98);
}
.card p {
  margin: 0;
}
/* Position Number Styles */
.rank {
  top:11px;
  left: 12px;
  max-width: 30px;
  position: absolute;
  text-align: center;
}
.rank h4{
  font-size: 12px;
  font-weight: 500;
  color: rgba(171, 171, 171, 1);
  margin:  0 0;
  letter-spacing: 1px;
}
/* Inner cards behavior */
#card-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap:  10px;
}

#card-body { 
  z-index: 1000;
  width: 90%;
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  gap: 10px;
}

/* Profile Pic Styles */
#img-container {
  cursor: pointer;
}

#img-container img {
  aspect-ratio: 1/1;
  height: 100%;
  height: 41px;
  border-radius: 50%;
  border: 1.4px solid #6d65f0;
}

/* User details Box and Content Styles*/
#name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#user-name {
  max-width: 98px;
  font-size: 12px;
  font-weight: 800;
  cursor: pointer;
  line-height: 16.8px;
  color: rgba(79, 79, 79, 1);
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#user-name::before {
  content: "@";
}

#user-name:hover,
.icon:hover,
.img-container:hover {
  border-color: rgb(158, 158, 158);
  color: rgb(158, 158, 158);
  transition: 100ms;
}
#seniority {
  opacity: 0.8;
  font-weight: 400;
  font-size: 11px;
  line-height: 15.4px;
  color: rgba(171, 171, 171, 1);
}

/* Statistics Box and Content Styles  */
#stats-container {
  width: 100%;

}
#stats-container .stats p {
  color: rgba(255, 255, 255, 1);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
}
.stats {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.stats p {
  word-wrap: break-word;
}

/* Technologies Icons Styles */
.group__icon__tech {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.icon__tech {
  color: #f0f0f0;
  font-size: 22px;
}

/* Contact Box and Icons Styles */
.contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

.icon {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  aspect-ratio: 1/1;
}

#user-name:hover,
.icon:hover,
.img-container:hover {
  border-color: rgb(158, 158, 158);
  color: rgb(158, 158, 158);
  transition: 100ms;
}

/* MQ to show technologies icons when card have space */
@media (max-width:360px) {
  .group__icon__tech{
    display: none;
  }
}

/* To adapt card on several tablet resolutions */
@media (min-width:750px) {
  .card{
    max-width: 256px;
    height: 324px;
    padding-top: 45.3px;
    padding-bottom: 24px;
    padding-inline: 27px;
    justify-content: space-between;
  }
  .card::before{
    clip-path: ellipse(95% 57% at 50% 100%);
  }
  #card-head{
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    gap:22px;
  }
  #name-container{
    gap: 6px;
  }
  #user-name{
    max-width: 112px ;
  }
  #card-body{
    margin-top: 60px;
    gap: 20px;
  }
  #img-container img{
  
    width: 67px;
    height: 67px;
    border-width:2.29px;
  }
  #user-name {
    font-size: 14px;
    line-height: 19.6px;
  }
  #seniority{
    font-size: 13px;
    line-height: 18.2px;
  }
  #card-body .stats p{
    /* color: aqua; */
    font-size: 11px;
    line-height: 17.6px;
  }
  .icon{
    font-size: 23px;
  }
  .contact{
    gap: 22px;
  }
  .rank h4{
    font-size: 14px;
  }
}

/* Styles to desktop */
@media (min-width:1024px) {
  .card{
    max-width: 320px;
    height: 400px;
    justify-content: space-between;
    padding-top: 43px;
    padding-bottom: 31px;
  }
  .card::before{
    clip-path: ellipse(95% 55% at 50% 100%);
  }
  #name-container{
    gap: 4px;
  }
  #user-name{
    max-width: 127px ;
  }
  #img-container img{
    width: 117px;
    height: 117px;
    border: 4px solid #6d65f0;
  }
  #user-name {
    font-size: 16px;
    line-height: 22.4px;
  }
  #seniority{
    font-size: 14px;
    line-height: 19.6px;
  }
  #card-body .stats p{
    font-size: 12px;
    line-height: 19.2px;
  }
  #card-body{
    width: 80%;
  }
  .contact{
    gap: 22px;

  }
  .rank h4{
    font-size: 16px;
  }
}
