<div class="card">
  <div class="rank"><h4>#{{i}}</h4></div>
  <div id="card-head">
    <div id="img-container" routerLink="/profile-page">
      <!-- <img src="../../assets/imgs/img-company.png" alt="user-image"> -->
      <img src={{user.profileImageUrl}} alt="">
    </div>
    <div id="name-container">
      <p id="user-name" (click)="navigateToProfile()">{{user.username}}</p>
      <p id="seniority">{{user.position}}</p>
    </div>
  </div> 

  <div id="card-body">

    <div id="stats-container">
      <div class="stats">
        <p class="stat-name" >Desafíos Completados.</p>
        <p>{{user.desafiosCompletados}}</p>
      </div>
      <div class="stats">
        <p class="stat-name" >Proyectos Completados.</p>
        <p>{{user.proyectosCompletados}}</p>
      </div>
    </div>

    <div class="group__icon__tech">
      <span class="fa-brands fa-java icon__tech"></span>
      <span class="fa-brands fa-js icon__tech"></span>
      <span class="fa-brands fa-html5 icon__tech"></span>
      <span class="fa-brands fa-angular icon__tech"></span>
      <span class="fa-brands fa-react icon__tech"></span>
      <span class="fa-brands fa-python icon__tech"></span>
    </div>

    <div class="contact">
      <a href="https://www.github.com">
        <span class="fa-brands fa-github icon"></span>
      </a>
      <a href="mailto:sobrecodigo@gmailcom">
        <span class="fa-solid fa-envelope icon"></span>
      </a>
      <a href="https://www.linkedin.com">
        <span class="fa-brands fa-linkedin icon"></span>
      </a>
    </div>
  </div>
</div>