<app-navbar-landing></app-navbar-landing>

<div class="container">
    <img src="../../assets/imgs/portada-temporal-desafios.png">

    <span class="cont">{{totalTime}} seg</span>

    <div class="answers">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Respuesta 1
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Respuesta 2 
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Respuesta 3
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
            <label class="form-check-label" for="flexRadioDefault4">
                Respuesta 4
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5">
            <label class="form-check-label" for="flexRadioDefault5">
                Respuesta 5
            </label>
        </div>
    </div>
    <button type="button" class="btn btn-success">Completar</button>
</div>

<app-footer></app-footer>