<app-navbar-landing></app-navbar-landing>

<table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Desafíos completados</th>
        <th>Proyectos finalizados</th>
        <th>Commits realizados</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>@Santiago</td>
        <td>45</td>
        <td>7</td>
        <td>900</td>
      </tr>
      <tr>
        <td>@Ana</td>
        <td>43</td>
        <td>9</td>
        <td>1200</td>
      </tr>
      <tr>
        <td>@Ana</td>
        <td>43</td>
        <td>9</td>
        <td>1200</td>
      </tr>
      <tr>
        <td>@Ana</td>
        <td>43</td>
        <td>9</td>
        <td>1200</td>
      </tr>
      <tr>
        <td>@Ana</td>
        <td>43</td>
        <td>9</td>
        <td>1200</td>
      </tr>
    </tbody>
  </table>