<app-navbar-landing></app-navbar-landing>

<div class="container">
    <h1>Título empleo</h1>

    <h4>Empresa:</h4>
    
    <p>Sobrecódigo</p>

    <h4>Descripción:</h4>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae odit quibusdam eos iure iste quasi illum
        pariatur unde atque adipisci consequuntur voluptatum quas, ea ipsam dolor veniam repellendus laborum sed.</p>

    <h4>Ubicación:</h4>

    <p>Remoto</p>

    <h4>Posición:</h4>

    <p>Desarrollador FullStack con super poderes</p>

    <h4>Remuneración:</h4>

    <p>$123123123</p>

    <h4>Tecnologías:</h4>

    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Angular</li>
    </ul>
</div>


<app-footer></app-footer>