
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60vw;
    margin: 0 auto;
    border-radius: 30px;
    background-color: rgb(224, 224, 224);
  }

  .img-container {
    height: fit-content;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.9);
  }
  .img-container img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .form-container {
    padding: 3em 4em;
    min-height: 500px;
  }

  .form-container form {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  #header {
    font-size: 40px;
    font-weight: 500;
    color: rgb(69, 69, 69);
  }
  #header span {
    color: rgb(92, 85, 199);
  }


  .input-text label {
    font-weight: 500;
    padding-bottom: 0.5em;
    color: rgb(79, 79, 79)
  }
  .input-text input {
    border-radius: 5px;
    width: 100%;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    padding: 0.5em 1em;
  }
  .input-text input:focus{
    border: 1px solid #5c53cf;
    outline: none;
  }

  .invalid-input {
    border: 1px solid red !important;
  }



  .input-boolean {
    display: flex;
    align-items: center;
    color: rgb(79, 79, 79)
  }

  .input-boolean input[type="checkbox"] {
    height: 1.2em;
    width: 1.2em;
    margin-right: 1em;
    accent-color: #5c53cf;
  }
  






  .btn-container {
    display: flex;
    justify-content: center;
  }
  .btn-container #login {
    background-color:#5c53cf;
    border-radius: 7px;
    padding: 3px 13px;
    cursor: pointer;
    transition: all 400ms;
    color: white;
    margin: 0 auto;
  }
  .btn-container #login:hover {
    background-color:#5b53cfbb;
  }
  

  /* input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 18px;
    padding: 10px 25px;
  }

  input[type="submit"] {
    background-color: var(--blue);
    color: white;
    padding: 12px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 18px;
  }

  input[type="submit"]:hover {
    background-color: var(--blue-light);
  }

  form label {
    color: #ccc;
    margin-left: 13px;
  }

  form input:required:focus {
    outline-color: blue;
  }

  form input:not([type="password"]):valid:focus {
    outline-color: var(--blue-light);
  }

  form input[type="password"]:valid:focus {
    outline-color: var(--blue-light);
  } */
