.title-page {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 60px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  /* identical to box height */
  /* color: #4472c3; */
  color: var(--blue);
}

.cards {
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

