<main>
   <div class="first header">
    <h1>Proyectos <span>DESTACADOS</span></h1>
   </div>

    <hr>
   <div class="row">
<app-cards-list></app-cards-list>
</div>
    <div class="second header">
        <h1>Usuarios <span>MÁS</span> activos</h1>
    </div>

    <hr>
<div class="row">
<app-cards-active-users></app-cards-active-users>
</div>
<div class="second header">
    <h1>Nuevos <span>empleos</span></h1>
</div>
<hr>
<div class="container-fluid d-flex flex-wrap justify-content-center">
      <div class="p-2" *ngFor= "let job of jobs">
        <app-job-description [cardInfo]="job"></app-job-description>
        </div>
  </div>
</main>

