body {
  min-width: 460px;
}
main {
  /* inline-size: 100%; */
  margin: 0 auto;
  max-width: 1400px;
  padding-top: 1rem;
}
.main-card {
  width: 50%;
  margin: auto;
  margin-top: 15%;
  height: 200px;
  transition: transform 0.2s;
  background-color: #043050;
}
.card {
  margin: auto;
  height: 600px;
}
.main-card:hover {
  transform: scale(1.2);
}

.header {
  width: 100%;
  padding: 0 3em;
}
.row {
  margin: 0 3em;
}
.header h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0.6em 0;
}

span {
  /* color: #1a98cf; */
  color: rgba(92, 85, 199, 1);
}

.dropdowns {
  width: 200px;
  border-width: 2px;
  border-radius: 1%;
  margin-right: 2%;
  color: black;
  border: 1px solid #666666;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: auto;
}
.jobList {
  margin-top: 50px;
}

.example-tab-icon {
  color: rgba(92, 85, 199, 1);
}
.jobcard {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em;
}

:host ::ng-deep .jobCard {
  width: 100% !important;
  max-width: 433px !important;
}

:host ::ng-deep .mat-ink-bar {
  display: none !important;
}
:host ::ng-deep .mat-tab-header {
  border: none !important;
}

:host ::ng-deep .mat-tab-label {
  padding: 0 !important;
  min-width: 24px;
  width: fit-content;
  height: fit-content;
  margin: 0 10px; 
}



/*Queda agregar las vistas responsive*/
