main{
    /* inline-size: 100%; */
    margin: 0 0;
    overflow: hidden;
    padding-top: 20px;
}
.main-card{
    width:50%;
    margin:auto;
    margin-top: 15%;
    height:200px;
    transition: transform .2s;
    background-color: #043050;
}
.card{
    margin:auto;
    height:600px;
}
.main-card:hover{
    transform: scale(1.2);
}
 
.header{
    width: 100%;
    padding: 40px;
    box-sizing:border-box ;
}
.header h1 {
    font-size: 28px;
    font-weight:bold;
    margin:  0 0;
}

span{
    color: #1a98cf;
}

hr{ 
    width: calc(100vw - 8%);
    border-color: var(--blue-light);
    margin: 0 auto;
    margin-bottom: 10px;
}