<main>
  <div class="first header">
    <h1>Proyectos <span>Destacados</span></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim minima
      provident excepturi saepe et illo, aperiam nemo id corporis animi quia
      facere earum, voluptate, harum numquam. Eius praesentium amet odit.
    </p>
  </div>

  <div class="row">
    <app-cards-list></app-cards-list>
  </div>
  <div class="second header">
    <h1>Usuarios más <span>activos</span></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim minima
      provident excepturi saepe et illo, aperiam nemo id corporis animi quia
      facere earum, voluptate, harum numquam. Eius praesentium amet odit.
    </p>
  </div>

  <div>
    <app-cards-active-users></app-cards-active-users>
  </div>

  <div class="second header">
    <h1>Nuevos <span>Empleos</span></h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam facere
      aliquid ipsa quisquam. Natus earum molestias repudiandae nostrum similique
      hic, maiores sit magni voluptate delectus, error provident ducimus, optio
      consequatur?
    </p>
  </div>

  <mat-tab-group
    mat-align-tabs="center"
    animationDuration="1000ms"
    headerPosition="below"
  >
    <mat-tab *ngFor="let job of jobs">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">circle</mat-icon>
      </ng-template>
      <div class="jobcard">
        <app-job-description [cardInfo]="job"></app-job-description>
      </div>
    </mat-tab>
  </mat-tab-group>
</main>
