<main>
    <div class="first header">
        <h1>Proyectos <span>DESTACADOS</span></h1>
    </div>

    <hr>
    <div class="row">
        <app-cards-list></app-cards-list>
    </div>
    <div class="second header">
        <h1>Usuarios <span>MÁS</span> activos</h1>
    </div>

    <hr>
    <div class="row">
        <app-cards-active-users></app-cards-active-users>
    </div>
    <div class="second header">
        <h1>Nuevos <span>empleos</span></h1>
    </div>
    <hr>
    <!--  -->

    <!-- <div class="container-fluid d-flex flex-wrap justify-content-center">
        <div class="p-2" *ngFor="let job of jobs">
            <app-job-description [cardInfo]="job"></app-job-description>
        </div>
    </div> -->

    <mat-tab-group mat-align-tabs="center" animationDuration="1000ms" headerPosition="below">

        <mat-tab *ngFor="let job of jobs">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">circle</mat-icon>
            </ng-template>
            <div class="jobcard">
            <app-job-description [cardInfo]="job"></app-job-description>
        </div>
        </mat-tab>
    </mat-tab-group>


    <!--  -->

</main>