.main-card{
    width:50%;
    margin:auto;
    margin-top: 15%;
    height:200px;
    transition: transform .2s;
    background-color: #043050;
}
.card{
    margin:auto;
    height:600px;
}
.main-card:hover{
    transform: scale(1.2);
}

.title{
    font-size: 30px;
    font-weight:bold;
    margin-top:8%!important;
   text-align: center;
}

.discord-img{
    width:80px;
    transition: transform .2s;
}
.discord-img:hover{
    transform: scale(1.2);
}
.instagram-img{
    width:65px;
    transition: transform .2s;
}
.instagram-img:hover{
    transform: scale(1.2);
}

.row{
    float:center;
}

.texto{
    font-size: 20px;
    margin-top:5%;
    text-align: center;
}
nav {
    background-color: #333;
    overflow: hidden;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }