<div class="main-box">
  <div class="sideBar"></div>
  <div class="body-container">
    <header>
      <img src="../../assets/imgs/Sobrec_logo.png" alt="">
      <h1>Politica de Privacidad</h1>
    </header>
    <p>Croissant powder biscuit oat cake biscuit bear claw chocolate dessert. Gingerbread carrot cake chocolate cake caramels shortbread cupcake jelly croissant. Dragée shortbread lollipop toffee gummies. Cake carrot cake toffee pudding bonbon gummies cheesecake. Gingerbread cookie sesame snaps marzipan ice cream halvah danish dragée. Fruitcake chupa chups apple pie gummies gummies dessert chocolate cake cheesecake.
      Chocolate cake gummi bears soufflé sesame snaps jujubes macaroon gummies. Tart pudding oat cake marshmallow cake. Muffin cake donut icing candy croissant. Marzipan ice cream cotton candy cake caramels dragée. Macaroon chocolate cake gummies cookie marzipan caramels cheesecake. Gummies gingerbread marzipan lemon drops sweet dessert liquorice. Ice cream brownie bear claw candy sweet. Bear claw apple pie cookie soufflé candy pastry tart. Gummies candy chupa chups danish cheesecake bear claw sweet shortbread.
      Muffin brownie pie cake jelly-o dessert gummi bears. Candy canes tart marzipan wafer tart gingerbread. Chocolate sugar plum jujubes candy chocolate macaroon. Sweet biscuit wafer carrot cake gingerbread dragée jelly caramels. Tootsie roll caramels fruitcake caramels croissant dragée danish. Lemon drops candy canes sweet pastry chupa chups tootsie roll bear claw tart.
      
      Cotton candy topping candy halvah powder. Bear claw bear claw cotton candy topping jelly sweet roll apple pie. Candy canes wafer topping toffee sweet. Tiramisu pudding oat cake gingerbread fruitcake. Dessert bonbon cupcake sweet cheesecake liquorice marzipan. Halvah dragée cupcake lollipop toffee candy canes. Cheesecake brownie powder toffee carrot cake wafer ice cream sugar plum. Cheesecake chocolate halvah chupa chups cheesecake halvah.
      Pie gummi bears gummies sweet roll marshmallow pie. Marshmallow liquorice cake oat cake tart cupcake caramels. Sugar plum sesame snaps wafer cheesecake tart jelly beans cake soufflé. Danish sweet jelly tootsie roll brownie tiramisu carrot cake lollipop candy canes. Danish chupa chups marshmallow ice cream caramels carrot cake cupcake caramels. Topping jelly beans cupcake sugar plum ice cream soufflé .</p>
      <div class="button-box">
        <span (click)="acceptPolicy();" >Aceptar</span>
      </div>
  </div>
</div>