<mat-card class="jobCard row" >

    <mat-card-header >
      <mat-card-title class="title-job">{{cardInfo.title}}
      </mat-card-title>
      <mat-card-subtitle class="subtitle-job">{{cardInfo.position.position}}</mat-card-subtitle>
  
            <mat-card-subtitle class="subtitle-job">
               
                <div class="col tech">{{cardInfo.tecnologies}}

                </div>
               
                <div class="col salary">
                    {{cardInfo.salary}}$ ~
                </div>
         
            </mat-card-subtitle>
  
      <img mat-card-avatar src="../../assets/imgs/img-company.png" class="img-company">
    </mat-card-header>

  
   

  </mat-card>