<mat-card class="jobCard row" >

    <mat-card-header >
      <mat-card-title>
        <div class="header-card-job">
          <div class="title-job">{{cardInfo.title}}</div>
          <div class="content-salary">
            <div class="col salary">
                {{cardInfo.salary}} {{cardInfo.currency.currency}}
            </div>
          </div>
      </div>
      </mat-card-title>
      <mat-card-subtitle class="subtitle-job position">{{cardInfo.position.position}}</mat-card-subtitle>
  
            <mat-card-subtitle class="subtitle-job">
               <div class="content-tech">
                <div class="col tech">{{cardInfo.tecnologies}}

                </div>
              </div>
               

              <div class="apply-job">
                <p><i class="fa-solid fa-tick"></i></p>
              </div>
         
            </mat-card-subtitle>
  
      <img mat-card-avatar src="../../assets/imgs/img-company.png" class="img-company">
    </mat-card-header>

  
   

  </mat-card>