/* @import url('../../jobs-card/jobs-card.component.css'); */
.jobCard {
    width: 960px;
    height:130px;
    border-radius: 15px;
    }

    .header-card-job {
      width: 768px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .title-job {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: -0.02em;
      color: #212121;

    }

    .position {
      width: 30%;
      border-radius: 5px;
    }
    .content-tech {
      width: 30%;
      background-color: #fdbb6e;
      border-radius: 50px;
    }
    .tech, .salary{
      text-align: center;
    }

    .content-salary {
      width: 15%;
      color: rgb(106, 155, 66);
      font-weight: 600;
      gap: 3px;
    }
   .apply-job{
      display: flex;
      align-self: flex-end;
      color: #adf175ff;
    }

    .subtitle-job {
      font-family: "Roboto";
      font-style: italic;
      font-weight: 400;
      font-size: 14px;
      color: #3d3d3d;
    }
    .content-job {
      padding: 0px;

    }
    .cards {
      display:inline-block;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      padding: auto;
      width: 1500px;
      margin: 10px auto;
      margin-top:40px;
    }

  @media (max-width:576px) {

    .jobCard {
      width: 400px;

      }

      .header-card-job {
        width: 255px;

      }
      .title-job {

        font-size: 0.9rem;

      }

      .content-tech {
        width: 60%;
        font-size: 0.6rem;
      }
      .content-salary {

        font-size: 0.8rem;
      }


  }

  @media screen and (min-width: 577px) and (max-width: 768px) {

    .jobCard {
      width: 690px;

      }

      .header-card-job {
        width: 580px;

      }
      .title-job {

        font-size: 0.9rem;

      }

      .content-tech {
        width: 60%;
        font-size: 0.6rem;
      }
      .content-salary {

        font-size: 0.8rem;
      }
  }
