
    <mat-card-header >
     
    <mat-card-content class="content-job">
        <mat-card-subtitle class="description-job">
          <p>{{cardInfo.description}}</p>
          <br>
  
          <ul class="icons-company">
            <li><i class="fa-solid fa-briefcase"></i> {{cardInfo.workday}}</li>
            <li><i class="fa-solid fa-building"></i> {{cardInfo.employees}}</li>
            <li><i class="fa-solid fa-list-check"></i> Requisitos:</li>
          </ul>    
          
          <p>{{cardInfo.requirements}}</p>
  
        </mat-card-subtitle>
       
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions>
        
      </mat-card-actions>
    </mat-card-footer>
