<div class="cardEdit__profile">
    <div class="cardEdit__profile___left">
        <img src="../../../assets/imgs/bgeditprofile.png" alt="" class="cardEdit__profile___left__img">
    </div>
    <div class="cardEdit__profile___right">
        <h3 class="cardEdit__profile___right__title"></h3>
        <div class="cardEdit__profile___right__avatar">
            <img src="" alt="" class="cardEdit__profile___right__avatarImg">
            <button class="cardEdit__profile___right__avatarbtn"></button>
        </div>

        <form class="cardEdit__profile___right__formUpdate">
            <label for="name">Nombre</label>
            <input type="text" placeholder="Nombre">
            <label for="lastName">Apellido</label>
            <input type="text" placeholder="Apellido">
            <label for="username">Usuario</label>
            <input type="text" placeholder="Usuario">
            <label for="email">Email</label>
            <input type="text" placeholder="Email">
            <label for="linkedin">LinkedIn</label>
            <input type="text" placeholder="https://linkedin.com/in/your-user">
            <label for="github">Github</label>
            <input type="text" placeholder="https://github.com/your-username">
            <label for="cv">CV</label>
            <input type="text" placeholder="Enlace al CV">
            
        </form>
        

    </div>
</div>