.title-page {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  /* identical to box height */
  color: #4472c3;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

