.loading{
  display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    top: 0px;
    left: 0px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    color: #5c53cf;
    padding: 20px;
}
