<nav>
  <div class="logo">
    <img src="../../assets/imgs/sc2.png" alt="">
  </div>

  <label for="checkbox">
    <mat-icon id="menu">menu</mat-icon>
  </label>
  <input type="checkbox" id="checkbox" hidden>


  <div class="list">
    <li><a routerLink="/home" routerLinkActive="selected">Inicio</a></li>
    <hr>
    <li><a routerLink="/project-page" routerLinkActive="selected">Proyectos</a></li>
    <hr>
    <li><a routerLink="/ranking-users" routerLinkActive="selected">Ranking usuarios</a></li>
    <hr>
    <li><a routerLink="/challenges" routerLinkActive="selected">Desafíos</a></li>
    <hr>
    <li><a routerLink="/jobs-page" routerLinkActive="selected" >Empleos</a></li>
    <hr>
    <li><a routerLink="/profile-page" routerLinkActive="selected">Mi Perfil</a></li>
    <hr>
    <li routerLink="/sign-up" id="login"><a>Registrarme</a></li>
  </div>

</nav>
