<nav>
  <div class="logo">
    LOGO
  </div>

  <label for="checkbox">MENU</label>
  <input type="checkbox" id="checkbox" hidden>




  <div class="list">
    <li><a routerLink="/home" [ngClass]="{'selected' : route === '/home'}">Inicio</a></li>
    <hr>
    <li><a routerLink="/proyects" [ngClass]="{'selected' : route === '/proyects'}">Proyectos</a></li>
    <hr>
    <li><a routerLink="/ranking-users" [ngClass]="{'selected' : route === '/ranking-users'}">Ranking usuarios</a></li>
    <hr>
    <li><a routerLink="/challenges" [ngClass]="{'selected' : route === '/challenges'}">Desafíos</a></li>
    <hr>
    <li routerLink="/sign-up" id="login"><a>Registrarme</a></li>
  </div>

</nav>