
<mat-card class="container-fluid projectCard p-3" routerLink="/project-page">
    <mat-card-header class="flex-column align-items-center">
      <img mat-card-image src="../../assets/imgs/img-project.png" class="img-replace">
      <p class="title-project">{{cardInfo.title}}</p>
    </mat-card-header>

    <mat-card-content class="flex-column align-items-center">
      <div class="description-project">
          <p>{{cardInfo.description}}</p>
      </div>
      <div class="tags-project">
          <p>{{cardInfo.tags}}</p>
      </div>
    </mat-card-content>
</mat-card>
