.projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 491px;
  /* top: 130px; */
  /* left: 10px;  */

  background: #ffffff;
  box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  transition: 0.4s;
  cursor: pointer;
}
.projectCard:hover{
  transform: scale(0.9, 0.9);
}

.img-replace {
  width: 280px;
  height: 92px;
  padding: 16px;

  border-radius: 16px;
}

.title-project {
  width: 280px;
  height: 88px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  /* or 138% */

  letter-spacing: -0.02em;

  color: #212121;
}

.description-project {
  width: 280px;
  height: 118px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */

  letter-spacing: -0.02em;

  color: #686868;
}

.tags-project {
  width: 280px;
  height: 48px;
  margin-top: 150px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;

  color: #4472c3;
}
