.projectCard {
  box-shadow: 0px 4px 20px 3px rgb(0 0 0 / 25%);
    border-radius: 30px;
    width: 330px;
}

.card-content{
  max-height: 100%;
  height: 490px;
}

.img-replace {
  width: 80%;
  height: 92px;
  padding: 12px;
  border-radius: 16px;
}

.title-project {
  width:100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 44px;
  letter-spacing: -0.02em;

  color: #212121;
}

.description-project {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #686868;
}

.tags-project {
  width: 100%;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;

  color: #4472c3;
}
