.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  width: 929px;
  height: 619px;

  background: #f3f3f3;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.img-profile {
    width: 168px;
    padding: 16px;
}

.user-fullname {
    
height: 39px;


font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #4472C3;
}

.user-title {
height: 24px;


font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;

color: #3D3D3D;

}

.user-location {
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;

color: #4E4E4E;

}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 491px;
  top: 130px;
  left: 10px;

  background: #ffffff;
  box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.img-replace {
  width: 280px;
  height: 92px;
  padding: 16px;

  border-radius: 16px;
}

.title-project {
  width: 280px;
  height: 88px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  /* or 138% */

  letter-spacing: -0.02em;

  color: #212121;
}

.description-project {
  width: 280px;
  height: 118px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */

  letter-spacing: -0.02em;

  color: #686868;
}

.tags-project {
  width: 280px;
  height: 48px;
margin-top: 150px;
text-align: center;
font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;

  color: #4472c3;
}
