<app-navbar-landing></app-navbar-landing>

<div class="profile">
	<div class="user-details">
		<img src="../../assets/imgs/img-profile.png" alt="Foto Perfil" class="img-profile">
		<h2 class="user-fullname">
			NOMBRE APELLIDO
		</h2>
		<h3 class="user-title">Full Stack Developer</h3>
		<p class="user-location"> <mat-icon>location_on</mat-icon> Argentina</p>
		<div class="user-counters">
			<!--ACA van los contadores-->
		</div>
		<div class="user-social">
			<a href="https://github.com"><img src="../../assets/imgs/github.svg" alt="Github" class="img-social"></a>
			<a href="https://linkedin.com"><img src="../../assets/imgs/linkedin.svg" alt="LinkedIn" class="img-social"></a>
			<a href="https://discord.com"><img src="../../assets/imgs/discord.svg" alt="Discord" class="img-social"></a>
		</div>
	</div>
	<div class="user-projects">
		<div class="content">
			<div class="cards">
			  <div  *ngFor="let project of projects">
				<mat-card class="mat-elevation-z4 projectCard" >
				  <img mat-card-image src="../../assets/imgs/img-project.png" class="img-replace">
				  <mat-card-header class="title-project">
					<mat-card-title>{{project.title}}</mat-card-title>
				  </mat-card-header>
				  
				  <mat-card-content>
					<div class="description-project">
						<p>{{project.description}}</p>
					</div>                
					<div class="tags-project">
						<p>{{project.tags}}</p>
					</div>        
				  </mat-card-content>          
				
				</mat-card>
			  </div>
			</div>
			</div>
	</div>
</div>