<app-navbar-landing></app-navbar-landing>

	<div id="main-container">
		<div id="user-info">
			<img class="user-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRr0YlatAy-hrNCQjzZ7fqDzNiXt7HGmzVaA&usqp=CAU" />
			<div class="user-details">
				<span><strong>Nombre:</strong>@Sobrecodigo</span>
				<span><strong>Nivel:</strong> 1</span>
				<span><strong>Ubicación:</strong> Buenos Aires, Argentina</span>
			</div>
		</div>
		<div id="user-posts">
			<div class="user-posts">
				<div>
					<span><strong>Desafíos completados:</strong> 15</span>
				</div>
				<div>
					<span><strong>Cantidad de commits: </strong> 300</span>
				</div>
				<div>
					<span><strong>Tiempo en Sobrecodigo: </strong> 3 años</span>
				</div>
			</div>
		</div>
	</div>
