<app-navbar-landing></app-navbar-landing>

<div class="profile">
  <div class="user-details">
    <img
      src="../../assets/imgs/img-profile.png"
      alt="Foto Perfil"
      class="img-profile"
    />
    <h2 class="user-fullname">NOMBRE APELLIDO</h2>
    <h3 class="user-title">Full Stack Developer</h3>
    <p class="user-location"><mat-icon>location_on</mat-icon> Argentina</p>
    <div class="user-counters">
      <ul class="icons-counter">
        <li class="icon-counter"><i class="fa-regular fa-thumbs-up"></i></li>
        <li class="icon-counter"><i class="fa-solid fa-code"></i></li>
        <li class="icon-counter"><i class="fa-solid fa-certificate"></i></li>
        <li class="icon-counter"><i class="fa-solid fa-puzzle-piece"></i></li>
      </ul>
      <ul class="detail-counters">
        <li class="detail">
          23 <br />
          contribuciones
        </li>
        <li class="detail">
          23 <br />
          contribuciones
        </li>
        <li class="detail">
          23 <br />
          contribuciones
        </li>
        <li class="detail">
          23 <br />
          contribuciones
        </li>
      </ul>
    </div>
    <div class="user-social">
      <a href="https://linkedin.com"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://github.com"><i class="fa-brands fa-github"></i></a>
      <a href="https://discord.com"><i class="fa-brands fa-discord"></i></a>
    </div>
  </div>
  <div class="user-projects">
    <div class="content">
      <div class="cards">
        <tr *ngFor="let project of projects">
          <app-project-card [cardInfo]="project"></app-project-card>
        </tr>
      </div>
    </div>
  </div>
</div>
