/* You can add global styles to this file, and also import other style files */
* {
  --blue: rgb(24, 111, 211);
  --blue-light: rgb(24, 111, 211,0.7)
}
html, body { height: 100%; background-color:white; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
