<div class="card" routerLink="/profile-page">

  <div class="img-container" [ngStyle]="{'border-color':'gold' }">
    <mat-icon id="user">perm_identity</mat-icon>
    <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRr0YlatAy-hrNCQjzZ7fqDzNiXt7HGmzVaA&usqp=CAU" alt="card image" /> -->
    <mat-icon id="cup" [ngStyle]="{'color':'gold' }">emoji_events</mat-icon>
  </div>
  



    
    
    <p > Username: {{username}}</p>
    <p> Contribuciones GIT: {{cantidadContribuciones}}</p>
    <p> Desafíos completos: {{desafiosCompletados}}</p>

</div>