.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 12em;
  aspect-ratio: 2/3;
  padding: 1.2em;
  background-color: white;
  border-radius: 30px;
  transition: 0.4s;
  box-shadow: 1px 1px 2px grey;
  margin: 1em;
}

.img {
  border-radius: 100%;
  aspect-ratio: 1/1;
  border: 2px solid black;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  position: relative;
  margin: 1em;
}

#medal {
  position: absolute;
  bottom: -10px;
  right: 6px;
  font-size: 30px;
}

.card p {
  font-size: 14px;
  line-height: 1.5;
  align-self: flex-start;

}

#user {
  font-size: 40px;
  width: auto;
  height: auto;
  color: white;
}



