
.cards-list {
    z-index: 0;
    width: 100%;
    margin:0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 1%;
  }

  .card {
    width: 100%;
    height: 100%;
    max-width: 220px;
    padding: 1.5em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 15px;
    cursor: pointer;
    transition: 0.4s;
  }

  @media (min-width:760px) {
    .card{
      max-width: 256px;
    }
    .cards-list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media (min-width:1024px) {
    .card{
      max-width: 320px;
    }
  }

  .card .card_image {
    width: 60%;
    margin: 0 auto;
  }

  .card .card_image img {
    width: 100%;
    height: 100%;
    margin: auto 0;
    border-radius: 15px;
    aspect-ratio: 16/9;
    object-fit: contain;
    object-position: top;
    transition: 1s;
  }

  .card .card_title {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: rgb(0, 0, 0) ;
    padding: 1em 0;
    width: 100%;
    margin: 0 auto;
  }

  .card_title p {
    margin: 0;
  }

  .description_short{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1em;
  }

  .description_short p {
    margin: 0;
    color: rgba(0, 0, 0, 0.664);

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }


  .card:hover {
    transform: scale(0.9, 0.9);
  }


  .title-white {
    color: white;

  }

  .title-black {
    color: black;
  }

  .card .tecnologies {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card .tecnologies img {
    margin: 0 5px;
  }

  @media (max-width: 760px) {
    .card .tecnologies {
      display: none;
    }
    .description_short {
      padding: 0;
    }
    .description_short p {
      -webkit-line-clamp: 5;
    }
  }