
.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    margin:0px;
    flex-wrap: wrap;
    justify-content:flex-start;
    row-gap: 30px;
    padding-block: 25px;
  }

  .card {
    /* margin: 30px; */
    width:300px;
    height: 250px;
    border-radius: 30px;
    /* box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22); */
    box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.4s;
    margin-right:25px;
  }
  
  .card .card_image {
    margin: 0;
    width: 90%;
    height: 45%;
    padding-top: 14px;
    /* border-radius: 16px; */
    margin: auto;
  }
  
  .card .card_image img {
    width: 100%;
    height: 100%;
    margin: auto 0;
    border-radius: 16px;
    object-fit: cover;
    
  }
  
  .card .card_title {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    /* height: 40px; */
    color: rgb(0, 0, 0) ;
    padding: 7px;
    width: 85%;
    margin: 0 auto;
  }

  .card_title p {
    margin: 0;
  }
  
  .description_short{
    width: 85%;
    margin: 0 auto;
    padding: 2px;
  }

  .description_short p {
    margin: 0;
    text-align: left;
    color: rgba(0, 0, 0, 0.664);
  }

 .card_owner{
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    height: 40px;
 }
  .card:hover {
    transform: scale(0.9, 0.9);
    /* box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22); */
    /* box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.25); */
  
  }

  
  .title-white {
    color: white;
    
  }
  
  .title-black {
    color: black;
  }
 
  /* .cardx {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    border-width: 10px;
    border:1px solid white;
    border-radius: 20px;
  } */
/* 
  .cardimage {
    width: 100%;
    border-radius: 20px;
  } */